@{
    ViewData["Title"] = "Контакты";
}
<h2>Контактные данные</h2>

<address>
    Болтуть Максим Сергеевич<br />
    Студент Гомельского Тезнического Университета им. П.О.Сухого<br />
    Группа: ИТ-31<br />
    <abbr title="Phone">P:</abbr>
    12-34-56
</address>

<address>
    <strong>Поддержка:</strong> <a href="maksim.boltut98@gmail.com">maksim.boltut98@gmail.com</a><br />
</address>
