@{
    ViewData["Title"] = "Контакты";
}
<h2>Контактные данные</h2>

<address>
    Boltut Maksim Sergeevich<br />
    Student of Gomel State Technical University<br />
    Group IT-31<br />
    <abbr title="Phone">P:</abbr>
    12-34-56
</address>

<address>
    <strong>Support:</strong> <a href="maksim.boltut98@gmail.com">maksim.boltut98@gmail.com</a><br />
</address>
