
@{
    ViewData["Title"] = "Index";
}

<li class="dropdown">
    <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown">
        Меню
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a href="#">Текст подпункта</a></li>
        <li><a href="#">Текст подпункта</a></li>
        <li class="divider"></li>
        <li><a href="#">Текст подпункта</a></li>
    </ul>
</li>

